@page "/"
@using Bürozeiterfasser.Components

<div id="bodydiv">
    
    <label>Ankuft:</label>
    <input type="time" class="timeAnzeige" @bind="@workStart" @bind:event="onchange" onchange="@(async () => await UpdateWorktime())" />
    <br />
    <button onclick="@(() => { workStart = DateTime.Now; StateHasChanged();})">jetzt</button>
    <br />

    <label>Errechnete Zeit:</label>
    <input type="time" class="timeAnzeige" readonly @bind="@workEnd"/>
    <br/>
    
    <h4>Angezielte Bürozeit</h4>
    <label>Stunden</label>
    <input type="number" max="24" @bind="@workTimeHour" @bind:event="onchange" @onchange="(async () => await UpdateWorktime())" />
    <br />
    <label>Minuten</label>
    <input type="number" max="60" @bind="@workTimeMinute" @bind:event="onchange" @onchange="@(async () => await UpdateWorktime())" />
    
    <Countdown @ref="@coundownRef" WorkStart="@workStart" WorkEnd="workEnd" />

</div>
